@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    /*background-color: black;
    color: white;*/
    font-family: 'Montserrat', sans-serif;
}

.card-block p {
    margin: 20px;
}

.card{
    padding-bottom: 20px;
}

#app {
    margin-top: 50px;
}